@import "tailwindcss";

.nav-links a:hover {
    color: white;
}

.burger {
  position: relative;
  width: 20px;
  height: 15px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) { top: 0; transform-origin: left center; }
.burger span:nth-of-type(2) { top: 50%; transform: translateY(-50%); transform-origin: left center; }
.burger span:nth-of-type(3) { bottom: 0; transform-origin: left center; }