@import "tailwindcss";


.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #d62976;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0072b1;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: white;
  color: #000;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: white;
  color: #000;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee2 {
  animation: marquee2 12s linear infinite;
}

.animate-marquee2:hover {
  animation-play-state: paused;
}

.card-music {
  width: 190px;
  height: 254px;
  background: lightgrey;
  border-radius: 10px;
  user-select: none;
}

.card-music .one {
  width: 190px;
  height: 254px;
  z-index: 10;
  position: absolute;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-music .one .title {
  width: 70px;
  border: 1px solid rgba(180, 177, 177, 0.308);
  display: block;
  margin: 12px auto;
  text-align: center;
  font-size: 10px;
  border-radius: 12px;
  font-family: Roboto, sans-serif;
  color: rgba(102, 100, 100, 0.911);
}

.card-music .one .music {
  width: 80px;
  height: 80px;
  background: rgba(216, 212, 212, 0.726);
  margin: 30px auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-music .one .name {
  width: 150px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding: 0 5px;
  margin: -22px auto;
  display: block;
  overflow: hidden;
  text-align: center;
  color: rgba(50, 49, 51, 0.637);
}
.card-music .one .name1 {
  width: 120px;
  height: 20px;
  font-size: 9px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding: 0 5px;
  margin: 19px auto;
  display: block;
  overflow: hidden;
  text-align: center;
  color: rgba(50, 49, 51, 0.637);
}
.card-music .one .bar {
  width: 100px;
  margin: -15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
}

.card-music .one .bar:last-child {
  margin: 35px auto;
  width: 100%;
  padding: 2px 23px;
}
.card-music .one .bar .color {
  fill: rgba(82, 79, 79, 0.829);
}
.card-music .one .bar .color1 {
  fill: rgba(29, 28, 28, 0.829);
  cursor: pointer;
}

.card-music .one .bar .bi:first-child {
  transform: rotate(180deg);
}
.card-music .one .bar:last-child .color1:first-child {
  transform: rotate(0deg);
}

.card-music .two {
  width: 60px;
  height: 60px;
  background-color: #FFE4F2;
  filter: drop-shadow(0 0 10px rgb(131, 25, 163));
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 20px;
  animation: one 5s infinite;
}

.card-music .three {
  width: 60px;
  height: 60px;
  background-color: #6967FB;
  filter: drop-shadow(0 0 10px rgb(29, 209, 149));
  border-radius: 50%;
  position: relative;
  top: 90px;
  left: 90px;
  animation: two 5s infinite;
}

@keyframes one {
  0% {
    top: 30px;
    left: 20px;
  }
  20% {
    top: 50px;
    left: 40px;
  }
  40% {
    top: 80px;
    left: 70px;
  }
  50% {
    top: 60px;
    left: 40px;
  }
  60% {
    top: 35px;
    left: 90px;
  }
  80% {
    top: 70px;
    left: 70px;
  }
  100% {
    top: 30px;
    left: 20px;
  }
}

@keyframes two {
  0% {
    top: 90px;
    left: 90px;
  }
  20% {
    top: 50px;
    left: 40px;
  }
  40% {
    top: 60px;
    left: 20px;
  }
  50% {
    top: 80px;
    left: 30px;
  }
  60% {
    top: 35px;
    left: 90px;
  }
  80% {
    top: 70px;
    left: 60px;
  }
  100% {
    top: 90px;
    left: 90px;
  }
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(255,228,242, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #FFE4F2;
  align-items: center;
}

.button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translate(240%, -240%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "View live";
  color: black;
  font-size: 12px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

/* From Uiverse.io by Creatlydev */ 
.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 1rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgb(255,228,242, 0.2),
    inset 0 0 0 1px rgb(255,228,242, 0.2);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 #FFE4F2,
    inset 0 0 0 1px #FFE4F2;
  color:#FFE4F2;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}



label {
 color: #999;
 font-size: 18px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
 top: -20px;
 font-size: 14px;
 color: #6967FB;
}

.bar {
 position: relative;
 display: block;
}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #6967FB;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {
 left: 50%;
}

.bar:after {
 right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
 width: 50%;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: #6967FB;
 }

 to {
  width: 0;
  background: transparent;
 }
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(8em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #F3A9C2;
  width: 280px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}